/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f1f1;
    color: #4a3d3b;
}

/* HEADER */
header {
    background-color: #975A61;
    color: white;
    padding: 30px 0;
    text-align: center;
}

header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: start;
}

header .container img {
    width: 80px;
    height: 80px;
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 5px;
}

nav {
    display: flex; /* Usamos flexbox para os links de navegação */
    justify-content: flex-end; /* Alinha os links à direita */
    width: 100%;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

.about, .services, .contact {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Classe ativada pelo JavaScript */
.animate {
    opacity: 1;
    transform: translateX(0);
}

/* SEÇÃO SOBRE */
.about {
    padding: 50px 0;
    background-color: #f3e2e1;
}

.about .container {
    width: 90%;
    margin: 0 auto;
}

.about h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #975A61;
}

.about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about .text {
    width: 48%;
}

.about .text p {
    line-height: 1.8;
}

.about .image img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}


/* SEÇÃO SERVIÇOS */
.services {
    padding: 50px 0;
    background-color: #ffffff;
}

.services .container {
    width: 90%;
    margin: 0 auto;
}

.services h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #975A61;
}

.services .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.services .text {
    width: 48%;
}

.services ul {
    list-style-type: none;
}

.services li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.services .image img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

/* SEÇÃO CONTATO */
.contact {
    padding: 90px 0;
    background-color: #f7e2e1;
}

.contact .container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.contact form {
    margin-top: 20px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    background-color: #975A61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.contact button:hover {
    background-color: #7f4741;
}

/* CARROLSSEL */
.image-carousel {
    position: relative;
    margin-top: 30px; /* Distância do carrossel após a seção de serviços */
    width: 100%;
    overflow: hidden;
    background-color: #f8f8f8; /* Cor de fundo do carrossel */
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 300px; /* Defina a altura do carrossel (tamanho quadrado) */
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 14%;
    height: 100%;
    padding: 7px;
    object-fit: cover;
}

/* Botões de navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    z-index: 100;
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 16px;
    cursor: pointer;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-title {
    text-align: center;  
    font-size: 28px;     
    color: #975A61;     
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;   
}

/* FOOTER */
footer {
    background-color: #4a3d3b;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 15px;
    display: inline-block;
}

.social-media img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
    filter: brightness(1.2); /* Efeito de brilho nas imagens sociais */
}


/* RESPONSIVIDADE */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1.2rem;
    }

    nav {
        width: 100%; /* Garantir que a navbar ocupe 100% da largura */
        justify-content: flex-end; /* Alinha os links à direita */
        padding: 10px 0;
    }

    nav a {
        font-size: 1rem;
        margin: 0 10px;
    }

    header .container {
        align-items: center; /* Centraliza o conteúdo */
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center; /* Centraliza os itens da navbar */
        margin-top: 10px;
    }

    nav a {
        font-size: 1rem;
        margin: 0 10px;
    }

    .about .content, .services .content {
        flex-direction: column;
        align-items: center;
    }

    .about .text, .services .text {
        width: 100%;
        text-align: center;
    }

    .about .image, .services .image {
        margin-top: 20px;
    }

    .about .image img, .services .image img {
        max-width: 90%;
    }

    .contact input, .contact textarea, .contact button {
        font-size: 0.9rem;
    }

    .carousel-container {
        height: 210px; /* Diminui ainda mais a altura */
    }
    
    .carousel-slide img {
        width: 25%; /* Deixa as imagens maiores */
    }

    .prev, .next {
        font-size: 18px;
        padding: 10px;
    }

    .carousel-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.8rem;
    }

    header h2 {
        font-size: 1rem;
    }

    nav a {
        font-size: 0.9rem;
        margin: 0 8px;
    }

    .contact input, .contact textarea {
        font-size: 0.7rem;
    }

    .contact button {
        font-size: 1.1rem;
        padding: 12px 25px;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .carousel-container {
        height: 135px;
    }
    
    .carousel-slide img {
        width: 33%; /* Apenas 3 imagens por vez na tela */
        padding: 5px;
    }

    .prev, .next {
        font-size: 16px;
        padding: 8px;
    }

    .carousel-title {
        font-size: 20px;
    }
}
